

.stackCardHeader {
    border-bottom: 2px solid #ffc107;
}

.stackImg {
    max-height: fit-content;
    max-width: fit-content;
}

.techList {
    text-align: center;
}

.techLogo {
    max-height: 50px;
    max-width: 50px;
}

.titleHeading {
    z-index: 15;
}

.titleImg {
    z-index: -1;
}

.textShadow {
    text-shadow: 1px 1px 2px black;
}